div#board{
	width: 640px;
	height: 640px;
	position: relative;
	float: left;
	margin-right: 50px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
div#board.flip{
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
div#board > div {
	width: 80px;
	height: 80px;
	float:left;
	position: relative;
}
div#board > div > div{
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
div#board.flip > div > div{
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
div#board > div > span {
	display: block;
	padding:2px;
	height: 76px;
	width: 76px;
	float: left;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
div#board.flip > div > span {
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
div#board > div.black > span {
	color: #C93;
}
div#board > div.white > span {
	color: #630;
}
div#board > div.black {
	background: #630;
}
div#board > div.white {
	background: #C93;
}
.figure {
	height: 80px;
	width: 80px;
	background-position: center;
	position: absolute;
	z-index: 4;
}
.white.pawn {
	background-image: url(../images/wp.png);
}
.black.pawn {
	background-image: url(../images/bp.png);
}
.white.rook {
	background-image: url(../images/wr.png);
}
.black.rook {
	background-image: url(../images/br.png);
}
.white.knight {
	background-image: url(../images/wn.png);
}
.black.knight {
	background-image: url(../images/bn.png);
}
.white.bishop {
	background-image: url(../images/wb.png);
}
.black.bishop {
	background-image: url(../images/bb.png);
}
.white.king {
	background-image: url(../images/wk.png);
}
.black.king {
	background-image: url(../images/bk.png);
}
.white.queen {
	background-image: url(../images/wq.png);
}
.black.queen {
	background-image: url(../images/bq.png);
}
.allow {
	position: absolute;
	width: 80px;
	height: 80px;
	background: #0f0;
	opacity: 0.25;
	z-index: 5;
}
.steps table {
	margin: 5px;
}
td{
	width: 100px;
	text-align: center;
}
td.step{
	width: 30px;
	text-align: center;
}
.steps{
	max-height: 600px;
	overflow: auto;
}
tr.heading {
	background: #333;
	color: #fff;
}
#startPos, #exportChessPos, #importChessPos {
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 11px Helvetica, Arial, sans-serif;
	color: #444;
	line-height: 17px;
	display: inline-block;
	margin: 5px;
	padding: 5px 6px 4px 6px;
	background: #F3F3F3;
	border: solid 1px #D9D9D9;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}
#startPos span, #exportChessPos span, #importChessPos span {
	color: #FFF !important;
	padding: 0 17px !important;
	display: inline-block !important;
	float: left;
	line-height: 17px;
	height: 18px;
	overflow: hidden;
	-webkit-transition: color .20s;
	-moz-transition: color .20s;
	-o-transition: color .20s;
	transition: color .20s;
}
#startPos {
	border: 1px solid #3079ED !important;
	background: #4B8DF8;
	background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
	background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
	background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
	background: -o-linear-gradient(top, #4C8FFD, #4787ED);
}
#importChessPos {
	border: 1px solid #29691D !important;
	background: #3A8E00;
	background: -webkit-linear-gradient(top, #3C9300, #398A00);
	background: -moz-linear-gradient(top, #3C9300, #398A00);
	background: -ms-linear-gradient(top, #3C9300, #398A00);
	background: -o-linear-gradient(top, #3C9300, #398A00);
}
#exportChessPos {
	border: 1px solid #D14836 !important;
	background: #D64937;
	background: -webkit-linear-gradient(top, #DC4A38, #D14836);
	background: -moz-linear-gradient(top, #DC4A38, #D14836);
	background: -ms-linear-gradient(top, #DC4A38, #D14836);
	background: -o-linear-gradient(top, #DC4A38, #D14836);
}
#importChessPos span {
	text-shadow: 0 1px 0 #2D6200 !important;
}
#startPos span {
	text-shadow: 0 1px 0 #2F5BB7 !important;
}
#exportChessPos span {
	text-shadow: 0 1px 0 #B0281A !important;
}